img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Arial";
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}